h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.articleImg {
  width: 100%;
  height: auto;
}

@media all and (min-width: 700px) {
  body {
    background-color: black;
  }

  .container {
    width: 96%;
    margin: 0 auto;
  }
}
@media all and (min-width: 1000px) {
  body {
    background-color: black;
  }

  .container {
    width: 1000px;
  }
}
header {
  background-color: black;
  color: white;
  padding: 10px;
}
header .headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerIcon {
  width: 20px;
  height: auto;
}
header .logo {
  width: 200px;
  height: auto;
}

footer {
  background-color: #375772;
  padding-bottom: 1rem;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
footer h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  color: white;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.textBox {
  width: 100%;
  height: auto;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .textBox {
    width: 700px;
    height: auto;
    margin: 1rem 0;
  }
}

.footerLogo {
  width: 200px;
  height: auto;
  margin: 1rem 0 0.5rem 0;
}

.socialIcon {
  width: 15px;
  height: 15px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 100%;
  margin-right: 0.3rem;
}

.banner {
  background-color: #dddddd;
  width: 100%;
  margin: 0 auto;
  padding-top: 0.3rem;
  display: flex;
  justify-content: center;
}
.banner .bannerImg {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .banner .bannerImg {
    width: 700px;
    height: auto;
    margin: 1rem;
  }
}

.article h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
.article h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #ec912d;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.2rem;
  border-radius: 50px;
}
.article p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}
.article h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

.secondary h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
.secondary h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: blue;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 50px;
}
.secondary p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}
.secondary h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: normal;
}

.tertiary h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.tertiary h3 {
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  color: white;
  background-color: red;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 50px;
}

.componentIcon {
  width: 1rem;
  height: auto;
  border-radius: 100%;
}

h1 {
  font-family: Arial;
  font-size: 60px;
  color: limegreen;
}

.showcase {
  background-color: black;
  color: white;
}
.showcase .primary {
  position: relative;
}
@media (min-width: 768px) {
  .showcase .primary .imgText {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}
.showcase .showcase-row {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .showcase .showcase-row {
    display: flex;
    flex-wrap: wrap;
  }
}
.showcase .showcase-row .secondary {
  background-color: black;
  width: 100%;
}
@media (min-width: 768px) {
  .showcase .showcase-row .secondary {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
}
.showcase .showcase-row .showcase-right {
  background-color: black;
  min-height: 200px;
  width: 100%;
}
.showcase .showcase-row .showcase-right .tertiary {
  width: 100%;
  min-height: 100px;
}
@media (min-width: 768px) {
  .showcase .showcase-row .showcase-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 50%;
  }
  .showcase .showcase-row .showcase-right .tertiary {
    margin: 0 0 0.3rem 0.3rem;
    width: calc(50% - .6rem);
  }
  .showcase .showcase-row .showcase-right .tertiary .articleImg {
    width: 100%;
    height: 150px;
  }
}

.trending {
  background-color: white;
  padding: 1rem 0;
}
.trending h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.trending .trending-row {
  display: flex;
  flex-wrap: wrap;
}
.trending .trending-row .trending-item {
  background-color: pink;
  width: 100%;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  .trending .trending-row .trending-item {
    width: calc((100% - 2rem)/3);
    margin: 0.5rem;
  }
  .trending .trending-row .trending-item:nth-child(3n+1) {
    background-color: aqua;
    margin-left: 0;
  }
  .trending .trending-row .trending-item:nth-child(3n+3) {
    background-color: hotpink;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
