h1 {
    @include buildFont(Arial, 60px, limegreen);
}

.showcase {
    background-color: black;
    color: white;
    .primary {
        position: relative;
        .imgText {
            @include breakpoint (sm) {
                position: absolute;
                bottom: 1rem;
                left: 1rem; 
            }
        }
    }
    .showcase-row {
        display: block;
        margin: 0 auto;
        @include breakpoint (sm) {
            display: flex;
            flex-wrap: wrap;
        }
        .secondary {
            background-color: red;
            width: 100%;
            @include breakpoint (sm) {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
            }
        }
        .showcase-right {
            background-color: orange;
            min-height: 200px;
            width: 100%;
            .tertiary {
                width: 100%;
                min-height: 100px;
            }
            @include breakpoint (sm) {
            display: flex;
            flex-wrap: wrap;
            width: 50%;
            .tertiary {
                width: 50%;
            }
            } //breakpoint
        } //showcase right
    } //showcase row
} //showcase


.trending {
    background-color: yellow;
    padding: 1rem 0;
    h2 {
        font-family: $primaryFont;
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .trending-row {
        .trending-item {
            display: flex;
            flex-wrap: wrap;
            background-color: pink;
            width: 100%;
            margin: .5rem 0;
            @include breakpoint(sm) {
                width: calc((100% - 2rem)/3);
                margin: .5rem;
                &:nth-child(3n+1) {
                    background-color: aqua;
                    margin-left: 0;
                }   
                &:nth-child(3n+3) {
                    background-color: hotpink;
                    margin-right: 0;

                }
            } //breakpoint
        } //trending item
    } //trending row
} //trending end