footer {
    background-color: $syrblue;
    padding: 10px;
    h4 {
        @include buildFont($primaryFont, .6rem, white);
        font-weight: normal;
        width: 500px;
        text-overflow: clip;
        margin-bottom: .5rem;
    }
}
.footerLogo {
    width: 200px;
    height: auto;
    margin: 1rem 0;
}

.socialIcon {
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 100%;
    margin: .3rem;
}