header {
    background-color: black;
    color: white;
    padding: 10px;
    .headerRow {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .headerIcon {
        width: 20px;
        height: auto;  
    }
    .logo {
        width: 200px;
        height: auto;
    }
}